<a class="navbar-brand">
    <img src="./../../../assets/icons/btn-new.png" class="btns" data-bs-toggle="modal" data-bs-target="#mdCreateClient">
</a>
<a class="navbar-brand">
    <img src="./../../../assets/icons/btn-export.png" class="btns">
</a>

<div class="modal fade" id="mdCreateClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mdCreateClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mdCreateClientLabel"> Create New Client </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <register-client></register-client>
            </div>
        </div>
    </div>
</div>