
<form id="formRegister" [formGroup]="clientForm" (ngSubmit)="register()">
    <div class="mb-2">
        <div class="divAling">
            <label for="inputBusinessId"> Name </label>
            <input type="text" formControlName="businessId" class="form-control">
        </div>
    </div>
    <div class="mb-2">
        <div class="divAling">
            <label for="inputPhone"> Phone </label>
            <input type="number" id="inputPhone" formControlName="phone" class="form-control">
        </div>
    </div>
    <div class="mb-2">
        <div class="divAling">
            <label for="inputEmail"> Email </label>
            <input type="email" id="inputEmail" formControlName="email" class="form-control">
        </div>
    </div>
    <div class="mb-2">
        <div class="divAling">
            <label for="inputStartDate"> Start Date </label>
            <input type="date" id="inputStartDate" formControlName="startDate" class="form-control">
        </div>
    </div>
    <div class="mb-2">
        <div class="divAling">
            <label for="inputEndDate"> End Date </label>
            <input type="date" id="inputEndDate" formControlName="endDate" class="form-control">
        </div>
    </div>
    <!-- El Shared Key se arma en el Back -->
    <div class="divRegister">
        <button type="submit" class="btn btnRegister"> Ok </button>
    </div>
</form>