
$colorFirstBlueLogo: #2091ca;
$colorBackground: #b3cfdc;

#formRegister {
    width: 100%;
    background-color: $colorBackground;
    padding: 8px;

    .divAling {
        columns: 2;

        label {
            font-weight: bold;
            color: black;
        }

        .form-control {
            width: 150px;
            margin-left: -35px;
        }
    }

    .divRegister {
        text-align: right;
    }

    .btnRegister {
        margin-top: 5px;
        background-color: $colorFirstBlueLogo;
        font-weight: bold;

    }

    .btnRegister:hover {
        transition: 0.9s;
        background-color: blue;
    }
}